<div class="container" [@navigation]="line ? 'afterNav' : 'beforeNav' ">
  <div class="navbar_block">
    <i class="fas fa-times" (click)="navAnime()"></i>
    <h1 class="navbar_title">Админ</h1>

    <div class="navbar_items">
      <h2 routerLink="/accounts" routerLinkActive="active">Аккаунты</h2>
      <h2 routerLink="/tarifs" routerLinkActive="active">Тарифы</h2>
      <mat-accordion>
        <mat-expansion-panel style="background-color: transparent; box-shadow: 0; border: 1px solid #EA3E2A;" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="font-family: Raleway;  font-weight: 100; font-size: 21px; color: #E3E6EC; cursor: pointer;">
              Отчёты
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h2 routerLink="/reports" routerLinkActive="active">Активные</h2>
          <h2 routerLink="/reports" routerLinkActive="active">Пассивные</h2>
          <h2 routerLink="/reports" routerLinkActive="active">Архивные</h2>
          <h2 routerLink="/reports" routerLinkActive="active">Тарифы</h2>
          <h2 routerLink="/reports" routerLinkActive="active">Возраст</h2>
          <h2 routerLink="/reports" routerLinkActive="active">Пол</h2>
        </mat-expansion-panel>
      </mat-accordion>
      <h2 routerLink="/transactions" routerLinkActive="active">Транзакции</h2>
      <h2 routerLink="/services" routerLinkActive="active">Услуги</h2>
      <h2 routerLink="/users" routerLinkActive="active">Пользователи</h2>
      <h2 routerLink="/devices" routerLinkActive="active">Девайсы</h2>
      <h2 routerLink="/firewall" routerLinkActive="active">FireWall</h2>
    </div>
  </div>

  <div class="log_Out-block">
    <div class="colors_block">
      <h1>{{ themes_name }}</h1>
      <mat-slide-toggle [color]="color" [checked]="isCheked" (click)="chageThemesName()"></mat-slide-toggle>
    </div>
  </div>
</div>

<div class="navigation_container">
  <div class="navigation_block" (click)="navAnime()">
    <div class="stick" [@navigation]="line ? 'after' : 'before' "></div>
    <div class="stick" [@navigation]="line ? 'nextAfter' : 'nextBefore' "></div>
    <div class="stick" [@navigation]="line ? 'lastAfter' : 'lastBefore' "></div>
  </div>
  <h1 class="log_Out" (click)="logOut()">Выход</h1>
</div>
