<div class="spinner_block" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="addModal_content" *ngIf="addTable">
  <div class="addModal_block">
    <i class="fas fa-times" (click)="addTable = false"></i>
    <form class="addForm" [formGroup]="accountsAddForm">
      <input
        class="addtable"
        type="text"
        placeholder="ФИО"
        formControlName="fio"
      />
      <select class="addtable" formControlName="tarif_id">
        <option *ngFor="let tarifs of tarifsData" [value]="tarifs.id">
          {{ tarifs.name }}
        </option>
      </select>
      <input
        class="addtable"
        type="text"
        placeholder="Телефон"
        formControlName="phone_number"
      />
      <input class="addtable" type="date" formControlName="end_date" />
      <input
        class="addtable"
        type="number"
        placeholder="Коэфиценть цены"
        formControlName="price_cf"
      />
      <input
        class="addtable"
        type="number"
        placeholder="Коэфиценть скороста"
        formControlName="speed_cf"
      />
      <div class="ip_block">
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress1()"
          maxlength="3"
          formControlName="ipaddress1"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress2()"
          maxlength="3"
          formControlName="ipaddress2"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress3()"
          maxlength="3"
          formControlName="ipaddress3"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress4()"
          maxlength="3"
          formControlName="ipaddress4"
        />
      </div>
      <input
        class="addtable"
        type="text"
        placeholder="Адрес"
        formControlName="acc_info"
      />
      <input
        class="addtable"
        type="text"
        placeholder="Паспорт"
        formControlName="passport"
      />
      <input
        class="addtable"
        type="date"
        placeholder="Год рождения"
        formControlName="age"
      />
      <select formControlName="gender">
        <option value="M">Man</option>
        <option value="F">Female</option>
      </select>
      <select formControlName="overdraft">
        <option value="2">Да</option>
        <option value="1">Нет</option>
      </select>
      <select formControlName="customr_type">
        <option>B2C</option>
        <option>B2B</option>
      </select>
      <select formControlName="connect_by">
        <option *ngFor="let item of usersData" [value]="item.id">
          {{ item.login }} - {{ item.fio }}
        </option>
      </select>
      <select formControlName="contact_by">
        <option *ngFor="let item of usersData" [value]="item.id">
          {{ item.login }} - {{ item.fio }}
        </option>
      </select>
      <input
        class="addtable"
        type="text"
        placeholder="Onu/Port"
        formControlName="comment"
      />
      <button
        class="addButton"
        [disabled]="accountsAddForm.invalid"
        [ngStyle]="{ opacity: accountsAddForm.invalid ? '.6' : '1' }"
        (click)="addNewTable()"
      >
        OK
      </button>
    </form>
  </div>
</div>

<div class="editModal_content" *ngIf="editTable">
  <div class="editModal_block">
    <i class="fas fa-times" (click)="editTable = false"></i>
    <form class="editForm" [formGroup]="accountsEditForm">
      <input
        class="addtable"
        type="text"
        placeholder="ФИО"
        formControlName="fio"
      />
      <select class="addtable" formControlName="tarif_id">
        <option *ngFor="let tarifs of tarifsData" [value]="tarifs.id">
          {{ tarifs.name }}
        </option>
      </select>
      <input
        class="addtable"
        type="number"
        placeholder="Коэфиценть цены"
        formControlName="price_cf"
      />
      <input
        class="addtable"
        type="number"
        placeholder="Коэфиценть скороста"
        formControlName="speed_cf"
      />
      <input
        class="addtable"
        type="text"
        placeholder="Телефон"
        formControlName="phone_number"
      />
      <input class="addtable" type="date" formControlName="end_date" />
      <div class="ip_block">
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress1()"
          maxlength="3"
          formControlName="ipaddress1"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress2()"
          maxlength="3"
          formControlName="ipaddress2"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress3()"
          maxlength="3"
          formControlName="ipaddress3"
        />
        <span class="ip_span">.</span>
        <input
          class="ip_input"
          type="number"
          placeholder="000"
          (keyup)="ipadress4()"
          maxlength="3"
          formControlName="ipaddress4"
        />
      </div>
      <input
        class="addtable"
        type="text"
        placeholder="Адрес"
        formControlName="acc_info"
      />
      <input
        class="addtable"
        type="text"
        placeholder="Паспорт"
        formControlName="passport"
      />
      <input
        class="addtable"
        type="date"
        placeholder="Год рождения"
        formControlName="age"
      />
      <select formControlName="gender">
        <option value="M">Man</option>
        <option value="F">Female</option>
      </select>
      <select formControlName="overdraft">
        <option value="2">Да</option>
        <option value="1">Нет</option>
      </select>
      <select formControlName="customr_type">
        <option>B2C</option>
        <option>B2B</option>
      </select>
      <select formControlName="connect_by">
        <option *ngFor="let item of usersData" [value]="item.id">
          {{ item.login }} - {{ item.fio }}
        </option>
      </select>
      <select formControlName="contact_by">
        <option *ngFor="let item of usersData" [value]="item.id">
          {{ item.login }} - {{ item.fio }}
        </option>
      </select>
      <input
        class="addtable"
        type="text"
        placeholder="Onu/Port"
        formControlName="comment"
      />
      <button
        class="editButton"
        [disabled]="accountsEditForm.invalid"
        [ngStyle]="{ opacity: accountsEditForm.invalid ? '0.6' : '1' }"
        (click)="editNewTable()"
      >
        ОК
      </button>
    </form>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="uslugiModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="uslugiModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
          <tr>
            <th>Название</th>
            <th>Дата начало</th>
            <th>Дата окончания</th>
            <th>Цена</th>
            <th>Статус</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicesLink of servicesLinkData">
            <td>
              <span class="table_span-modal">Название</span
              >{{ servicesLink.service?.name }}
            </td>
            <td>
              <span class="table_span-modal">Дата начало</span
              >{{ servicesLink.created_at | date: "dd-MM-yyyy" }}
            </td>
            <td>
              <span class="table_span-modal">Дата окончания</span
              >{{ servicesLink.expire_at | date: "dd-MM-yyyy" }}
            </td>
            <td>
              <span class="table_span-modal">Цена</span
              >{{ servicesLink.service?.price }}
            </td>
            <td>
              <span class="table_span-modal">Статус</span
              >{{ servicesLink.deleted ? "Удаленно" : "Активный" }}
            </td>
            <td>
              <span class="table_span-modal">Действия</span>
              <h1
                style="font-size: 12px"
                (click)="deleteService(servicesLink.id)"
              >
                Удалить
              </h1>
            </td>
          </tr>
        </tbody>
      </table>

      <form class="service_add-block" [formGroup]="addServiceForm">
        <input class="addtable" type="date" formControlName="created_at" />
        <select formControlName="name">
          <option
            *ngFor="let servicesData of servicesData"
            [value]="servicesData.id"
          >
            {{ servicesData.name }}
          </option>
        </select>
        <button
          [disabled]="addServiceForm.invalid"
          [ngStyle]="{ opacity: addServiceForm.invalid ? '.6' : '1' }"
          (click)="addNewService()"
        >
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="paymentModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="paymentModal = false"></i>
    <div class="uslugi_modal-block">
      <form class="payment_add-block" [formGroup]="addPaymentForm">
        <input type="number" placeholder="Сумма" formControlName="summa" />
        <input type="text" placeholder="Коментарии" formControlName="comment" />
        <button
          (click)="addNewPayment()"
          [disabled]="addPaymentForm.invalid"
          [ngStyle]="{ opacity: addPaymentForm.invalid ? '.6' : '1' }"
        >
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="creditModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="creditModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
          <tr>
            <th>ID</th>
            <th>Дата начало</th>
            <th>Дата окончания</th>
            <th>Коментарии</th>
            <th>Статус</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let credit of creditData">
            <td><span class="table_span-modal">ID</span>{{ credit.id }}</td>
            <td>
              <span class="table_span-modal">Дата начало</span
              >{{ credit.created_at | date: "dd-MM-yyyy" }}
            </td>
            <td>
              <span class="table_span-modal">Дата окончания</span
              >{{ credit.expire_at | date: "dd-MM-yyyy" }}
            </td>
            <td>
              <span class="table_span-modal">Коментарии</span
              >{{ credit.comment }}
            </td>
            <td>
              <span class="table_span-modal">Статус</span
              >{{ credit.deleted ? "Удаленно" : "Активный" }}
            </td>
            <td style="display: flex">
              <span class="table_span-modal">Действия</span>
              <h1 style="font-size: 12px" (click)="changeCredit(credit.id)">
                Изменить
              </h1>
            </td>
          </tr>
        </tbody>
      </table>

      <form
        style="align-items: center"
        class="service_add-block"
        [formGroup]="addCreditForm"
      >
        <textarea
          style="width: 230px; height: 56px; padding: 10px; outline: none"
          placeholder="Коментарии"
          formControlName="comment"
        ></textarea>
        <input
          style="width: 100%"
          class="addtable"
          type="date"
          formControlName="expire_at"
        />
        <button
          *ngIf="!editCredit"
          [disabled]="addCreditForm.invalid"
          [ngStyle]="{ opacity: addCreditForm.invalid ? '.6' : '1' }"
          (click)="addNewCredit()"
        >
          Добавить
        </button>
        <button
          *ngIf="editCredit"
          [disabled]="addCreditForm.invalid"
          [ngStyle]="{ opacity: addCreditForm.invalid ? '.6' : '1' }"
          (click)="addEditCredit()"
        >
          Изменить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="paymentModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="paymentModal = false"></i>
    <div class="uslugi_modal-block">
      <form class="payment_add-block" [formGroup]="addPaymentForm">
        <input type="number" placeholder="Сумма" formControlName="summa" />
        <input type="text" placeholder="Коментарии" formControlName="comment" />
        <button
          (click)="addNewPayment()"
          [disabled]="addPaymentForm.invalid"
          [ngStyle]="{ opacity: addPaymentForm.invalid ? '.6' : '1' }"
        >
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="additionalIpModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="additionalIpModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
          <tr>
            <th>Account ID</th>
            <th>ID</th>
            <th>IP</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let additionalIp of additionalIpData">
            <td>
              <span class="table_span-modal">Account ID</span
              >{{ additionalIp.account_id }}
            </td>
            <td>
              <span class="table_span-modal">ID</span>{{ additionalIp.id }}
            </td>
            <td>
              <span class="table_span-modal">IP</span>{{ additionalIp.ip }}
            </td>
            <td style="display: flex">
              <span class="table_span-modal">Действия</span>
              <h1
                style="font-size: 12px"
                (click)="deleteAdditionalIp(additionalIp.id)"
              >
                Удалить
              </h1>
            </td>
          </tr>
        </tbody>
      </table>

      <form
        style="align-items: center"
        class="service_add-block"
        [formGroup]="addAdditionalIpForm"
      >
        <input
          style="width: 100%"
          class="addtable"
          type="text"
          placeholder="ip"
          formControlName="ip"
        />
        <button
          [disabled]="addAdditionalIpForm.invalid"
          [ngStyle]="{ opacity: addAdditionalIpForm.invalid ? '.6' : '1' }"
          (click)="addNewAdditionalIp()"
        >
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="additionalInfoModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="additionalInfoModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
          <tr>
            <th>Аккаунт ID</th>
            <th>ID</th>
            <th>Город</th>
            <th>Тип подключения</th>
            <th>Подключения пользователья</th>
            <th>Контакты пользователья</th>
            <th>Округ</th>
            <th>Улица</th>
            <th>Номер улицы</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let additionalInfo of additionalInfoData">
            <td>
              <span class="table_span-modal">Аккаунт ID</span
              >{{ additionalInfo.account_id }}
            </td>
            <td>
              <span class="table_span-modal">ID</span>{{ additionalInfo.id }}
            </td>
            <td>
              <span class="table_span-modal">Город</span
              >{{ additionalInfo.city?.name }}
            </td>
            <td>
              <span class="table_span-modal">Тип подключения</span
              >{{ additionalInfo.connect_type?.name }}
            </td>
            <td>
              <span class="table_span-modal">Подключения пользователья</span
              >{{ additionalInfo.connect_user?.fio }}
            </td>
            <td>
              <span class="table_span-modal">Контакты пользователья</span
              >{{ additionalInfo.contact_user?.fio }}
            </td>
            <td>
              <span class="table_span-modal">Округ</span
              >{{ additionalInfo.district?.name }}
            </td>
            <td>
              <span class="table_span-modal">Улица</span
              >{{ additionalInfo.street?.name }}
            </td>
            <td>
              <span class="table_span-modal">Номер улицы</span
              >{{ additionalInfo.street_number }}
            </td>
            <td style="display: flex">
              <span class="table_span-modal">Действия</span>
              <h1
                style="font-size: 12px"
                (click)="changeAdditionalInfo(additionalInfo.id)"
              >
                Изменить
              </h1>
            </td>
          </tr>
        </tbody>
      </table>

      <form
        style="align-items: center"
        class="service_add-block"
        [formGroup]="addAdditionalInfoForm"
      >
        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select>

        <button
          *ngIf="!editAdditionalInfo"
          [disabled]="addAdditionalInfoForm.invalid"
          [ngStyle]="{ opacity: addAdditionalInfoForm.invalid ? '.6' : '1' }"
          (click)="addNewAdditionalInfo()"
        >
          Добавить
        </button>
        <button
          *ngIf="editAdditionalInfo"
          [disabled]="addAdditionalInfoForm.invalid"
          [ngStyle]="{ opacity: addAdditionalInfoForm.invalid ? '.6' : '1' }"
          (click)="EditAdditionalInfo()"
        >
          Изменить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="extandsModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="extandsModal = false"></i>
    <div class="uslugi_modal-block">
      <form class="payment_add-block" [formGroup]="addExtandsForm">
        <input type="date" formControlName="end_date" />
        <button
          (click)="addNewExtands()"
          [disabled]="addExtandsForm.invalid"
          [ngStyle]="{ opacity: addExtandsForm.invalid ? '.6' : '1' }"
        >
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>

<div class="devide_block">
  <app-header></app-header>

  <div class="container">
    <div class="container_content">
      <div class="title_block">
        <h1>Аккаунты</h1>
      </div>

      <div class="table_container">
        <h1>История изменений аккаунта</h1>
        <div class="table_content"> 
          <div class="title_block">
          
          <table>
            <tbody>
              <tr>
                <th>Имя</th>
                <th>Цена</th>
                <th>Скорость</th>
                <th>Комментарий</th>
              </tr>
              <tr>
                <td>Фамилия Имя Отчество</td>
                <td>15000</td>
                <td>15000</td>
                <td>тексттексттекстексттекст</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <tbody>
              <tr>
                <th>Дата изменения</th>
                <th>Событие</th>
                <th>Кто изменил</th>
                <th>Комментарий</th>
              </tr>
              <tr>
                <td>23.07.22  15:38</td>
                <td>Изменение имени</td>
                <td>Косимов Акбар</td>
                <td>тексттексттекстексттекст</td>
              </tr>
              <tr class="tr">
                <td>12.05.22  17:36</td>
                <td>Смена тарифа</td>
                <td>Sabrina</td>
                <td>тексттексттекстексттекст</td>
              </tr>
              <tr>
                <td>01.05.22  17:06</td>
                <td>Смена тарифа</td>
                <td>Sabrina</td>
                <td>тексттексттекстексттекст</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
